name: Rust build and test
on: push
jobs:
  stable:
    runs-on: ${{matrix.platform}}
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: rustfmt, clippy
            profile: minimal

      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
          architecture: x64

      - name: Install deps
        run: |
          pip install numpy

      - run: cargo build -r --features static --verbose
      - run: cargo test -r --features static --verbose

  nightly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy
            profile: minimal

      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
          architecture: x64

      - name: Install deps
        run: |
          sudo apt-get -y update
          sudo apt-get -y install build-essential libssl-dev
          pip install numpy

      - run: cargo build -r --features nightly,static --verbose
      - run: cargo test -r --features nightly,static --verbose
